In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent') # To read the data from csv

In [3]:
filt = df['Country'] == 'India'
india_df = df.loc[filt]
india_df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,INR,...,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3

In [4]:
# write DF to csv
india_df.to_csv('data/modified_data.csv')

In [5]:
# To write into tab seprated file (tsv)
india_df.to_csv('data/modified.tsv', sep='\t')

In [8]:
# To write to xls format , do pip install xlwt openpyxl xlrd first
india_df.to_excel('data/modified.xlsx')

In [9]:
# To write to json format , default will be dict like , but if we want list like records we can pass orient argument
india_df.to_json('data/modified.json', orient='records' ,lines=True)

In [10]:
test = pd.read_json('data/modified.json', orient='records' ,lines=True)

In [12]:
test.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,A lot more welcome now than last year,NaN,6,4
1,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,None,"Computer science, computer engineering, or sof...",None,None,Just as welcome now as I felt last year,50.0,10,2
2,I am a developer by profession,Yes,NaN,22,None,NaN,NaN,India,Indian rupee,INR,...,Neither easy nor difficult,Too long,None,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,None,NaN,None,None
3,I am a student who is learning to code,Yes,21.0,17,None,NaN,NaN,India,None,None,...,Easy,Appropriate in length,No,None,Angular.js;Django;jQuery;Laravel;Vue.js,None,Not applicable - I did not use Stack Overflow ...,NaN,4,None
4,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",None,None,Somewhat more welcome now than last year,70.0,5,3

In [13]:
# To connect to postgres DB
# First install SQLAlchemy (it is an ORM for python)
# And for postgres pip install psycopg2-binary
# Now run below imports
from sqlalchemy import create_engine
import psycopg2

In [15]:
# create_engine will be used to connect to DB
# postgresql://dbname:dbpass@host_server:port_number/DBNAME
engine = create_engine('postgresql://postgres:dbpass@localhost:5432/pandas')

In [17]:
# Write data to DB
india_df.to_sql('sample_table', engine , if_exists='replace')

In [18]:
# read data
sql_df = pd.read_sql('sample_table',engine, index_col='Respondent')

In [20]:
sql_df.head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,...,None,None,None,"Computer science, computer engineering, or sof...",None,None,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,None,"Computer science, computer engineering, or sof...",None,None,Just as welcome now as I felt last year,50.0,10,2

In [29]:
# To read a paricular query 
# Note we have given "" for column names otherwise it will through error
# https://stackoverflow.com/questions/61018823/programmingerror-psycopg2-errors-undefinedcolumn-while-working-with-sqlalche
sql_df = pd.read_sql_query('SELECT "Hobbyist" , "CompFreq" FROM sample_table',engine)

     Hobbyist CompFreq
0         Yes  Monthly
1         Yes  Monthly
2         Yes     None
3         Yes     None
4         Yes   Yearly
...       ...      ...
8398      Yes     None
8399      Yes     None
8400      Yes     None
8401      Yes     None
8402      Yes     None

[8403 rows x 2 columns]